.nav {
    margin: 15px 0;
    
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}


.link {
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 30px;
   
}

.link:focus {
    outline: none;
}